<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5gmq36MX6J9Tz8xwHw5SSyxFgcQgWeE4</string>
	<key>GCM_SENDER_ID</key>
	<string>1074737376539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rosefam.rosefam</string>
	<key>PROJECT_ID</key>
	<string>rosefam-83009</string>
	<key>STORAGE_BUCKET</key>
	<string>rosefam-83009.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074737376539:ios:09e40b5df2b269d22ef7be</string>
</dict>
</plist>